*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    display: flex;
    font-family: "Courier New", Courier, monospace;
    background-color: azure;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;

    /* width: 100vw;  */
  }
  .score{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
    font-size: 20PX;
    /* border: 1px solid; */
    width: 100%;
  }
  .revoir,.correct{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 40px;
    height: 40px;
  }

  .motComorien{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family:'Anton', sans-serif;
    height: 189px;
    width: 95%;
    font-weight: 400;
    font-size: 2rem;
    border-bottom: 1px solid black;
  }
  .mot{
    margin-bottom: 40px;
  }
  #son{
    display: flex;
    border: none;
    margin-left: 180px;
    font-size: 30px;
    box-shadow: none;

  }
  .motTrad{
    display: block;
    font-family:'Anton', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 50px;
  }
  .card {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    /* margin-top: 70px; */
    width: 295px;
    height: 500px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.23);
-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.23);

  }

  .result{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 70%;
     margin-top: 50px; 
  }

  #oeil{
    display:none;
  }

  .fa-solid{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    font-size: 40px;
    border: 2px solid Black;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.23);
-webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.23);
  }

  .fa-book, .revoir{
    border-color: red;
  }

  .fa-thumbs-up, .correct{
    border-color: green;
  }